<% if @forecast %>
  <% @forecasts = @forecast.forecasts %>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-12">
      <div style="margin-top: 50px">
        <div align="center">
          <h3 style="font-weight: bold">Detalle Pronóstico</h3>
        </div>
        <table id="forecast-table" class="table table-striped table-bordered table-condensed display responsive no-wrap">
          <thead>
          <tr>
            <th>Día</th>
            <th>T° Mínima</th>
            <th>T° Máxima</th>
            <th>Viento</th>
            <th>Nubosidad</th>
          </tr>
          </thead>
          <tbody>
          <% @forecasts.each do |day| %>
              <tr>
                <td><%= day.date.to_date %></td>
                <td><%= day.min_temperature %> °C</td>
                <td><%= day.max_temperature %> °C</td>
                <td><%= day.wind_speed %> km/h (dir: <%= day.wind_direction %>)</td>
                <td><%= day.cloud_cover %>%</td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>