<%= form_tag(find_city_query_api_path, method: 'post', remote: true) do %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <label for="city_query">Ciudad</label>
    <%= text_field_tag :city_query %>

    <%= submit_tag "Buscar Ciudad" %>
    <div class="actions">
  </div>
<% end %>
