<div class="row row-centered" style="margin-bottom: 20px; margin-top: 40px">
  <div class="col-md-6 col-centered">
      <h1>Ciudades</h1>
  </div>
</div>

<div class="row row-centered">
  <div class="col-md-10 col-centered">
    <div>
      <table id="city-table" class="table table-striped table-bordered table-condensed display responsive no-wrap">
        <thead>
        <tr>
          <th>Ciudad</th>
          <th>País</th>
          <th>Código</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% @cities.each do |city| %>
            <tr>
              <td><%= city.name %></td>
              <td><%= city.country %></td>
              <td><%= city.location_key %></td>
              <td><%= link_to 'Ver', city %> | <%= link_to 'Eliminar', city, method: :delete, data: { confirm: 'Seguro que desea eliminar la ciudad?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'Agregar Nueva Ciudad', new_city_path %>
  </div>
</div>
<br>

