<p id="notice"><%= notice %></p>

<h1>Ciudades</h1>

<table class="table table-condensed" style="width: 50%">
  <thead>
  <tr>
    <th>Ciudad</th>
    <th>País</th>
    <th>Código</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td><%= city.country %></td>
          <td><%= city.location_key %></td>
          <td><%= link_to 'Ver', city %> | <%= link_to 'Eliminar', city, method: :delete, data: { confirm: 'Seguro que desea eliminar la ciudad?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'Agregar Nueva Ciudad', new_city_path %>
